<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/forms.css}" rel="stylesheet type="text/css"" />
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    
    <div th:insert="navbar :: navbar">  </div>
    </head>
    <body>
        <h1>There is no tickets!!</h1>
    </body>
<footer>
  <p>For any questions please contact us!<br>
  <a href="mailto:Airport@gmail.com">Airport@gmail.com</a></p>
</footer>
</html>